*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(24, 23, 23);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 50vh;
}

h1 {
    color: white;
    font-size: 1.8rem;
    font-weight: 700;
}

#phone {
    color: green;
}

.next {
    width: 100%;
    margin-top: 15px;
    border-radius: 10px;
    border: none;
    height: 40px;
    font-size: 1.2em;
    background-color: green;
    color: white;
    
}

.next:hover {
    background-color: rgb(0, 150, 0);
    cursor: pointer;
}

.email p {
    color: white;
    margin: 3px;
    font-size: 20px;
    font-weight: 400;
}

.email input {
    height: 50px;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    background-color: rgb(24, 23, 23);
    border: 1px solid white;
    width: 100%;
    box-sizing: border-box;
}



.img {
    height: 50px;
    width: 50px;
    margin-left: 130px;
    margin-bottom: 20px;
}

form {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.email {
    width: 50%;
}

.email h1 {
    margin-left: 90px;
    margin-bottom: 35px;
}

h3 {
    color: white;
    margin-left: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.google {
    width: 100%;
    height: 50px;
    border-radius: 45px;
    border: 1px solid white;
    margin: 5px;
    background-color: rgb(24, 23, 23);
    color: white;
}

.google:hover {
    background-color: whitesmoke;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
    /* margin-left: 150px; */
}

