*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EF3054;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    font-size: 8vmin;
    color: #254441;
}

#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #B2B09B;
    color: #372c2c;
    border-radius: 1rem;
    border: none;
}