*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(237, 231, 231);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 80vh;
}

.board {
    height: 80vh;
    width: 80vh;
    border: 3px solid #001858;
    background-color: lightgreen;
    
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
}

.black {
    background-color: black;
    /* border: 1px solid pink; */
}

.white {
    background-color: white;
    /* border: 1px solid pink; */
}

h1 {
    text-align: center;
    color: #db5872;
    text-decoration: green  underline;
}