*{
    background-color: goldenrod;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: color #f4f4f4;;
}

.profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    background: #fff;
    border-radius: 24px;
    padding: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 100px;
    padding: 3px;
    margin-bottom: 10px;
    
}

.image .profile-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 100px;
    border: 3px solid #fff;

}

.text-data{
    display: flex;
    justify-content: center;
}