*{
    margin: 0;
    padding: 0;
    
}

body {
    background-image: url(https://w.wallhaven.cc/full/k8/wallhaven-k881zd.jpg);
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.box {
    width: 50vh;
    height: 60vh;
    border: none;
    border-radius: 5px;
    border-top-left-radius: 45%;
    border-bottom-right-radius: 45%;
    background-color: #b130b1;
    /* background-image: url(https://w.wallhaven.cc/full/7j/wallhaven-7jgyre.jpg); */
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-section {
    font-size: 2em;

}

.email {
    margin-bottom: 20px;
}

.email input {
    height: 25px;
    padding-left: 3px;
    
}

.password input {
    height: 25px;
    padding-left: 3px;
}


.submit {
    width: 40%;
    height: 30px;
    margin-left: 45px;
    margin-top: 50px;
    background-color: #FBC3BC;
    border-radius: 5px;
    border: none;
}

